#pageNotFound {
    background: linear-gradient(to bottom right, rgb(0, 0, 12), rgb(0, 52, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.errorMessage {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.goBackButton {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(1, 81, 1);
    color: white;
    cursor: pointer;
    transition: filter 500ms;
}

.goBackButton:hover {
    filter: brightness(1.2);
}