.dashboardTitle {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(25px, 5vw, 30px);
    height: 10%;
}

.valueContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 20px;
    height: 90%;
}

.wordDashboard .valueContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.wordDashboard .chartContainer,
.wordDashboard .chart {
    height: auto;
}

.lineChart .chartContainer {
    margin-top: 40px;
}

.value {
    color: rgb(206, 230, 201);
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(30px, 5vw, 45px); 
    white-space: nowrap;
    overflow-x: auto;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    overflow-x: auto;
    overflow-y: auto;
}

.records .chart {
    display: block;
}

.chart canvas {
    max-width: 100% !important;
    max-height: 100% !important;
}