#landingPage {
    background: linear-gradient(to bottom right, rgb(0, 0, 12), rgb(0, 52, 0));
    height: 100vh;
    width: 100vw;
}

.landingPageContent {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    height: calc(100vh - 70px);
    width: 100vw;
    overflow-y: auto;
}

.landingPageContent h1 {
    color: white;
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}