#registrationPage {
    background: linear-gradient(to bottom right, rgb(0, 0, 12), rgb(0, 52, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#registrationBox {
    display: flex;
    flex-direction: column;
    align-items: center;;
    background-color: rgba(250, 254, 255, 0.5);
    padding: 20px;
    border-radius: 0.5rem;
    max-height: 90vh;
}

#registrationBox h2 {
    font-weight: bold;
}

.newUserMessage{
    font-family: Arial, Helvetica, sans-serif;
}

.registrationMessage {
    color: rgb(121, 2, 2);
}

.registrationForm {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: auto;
}

.registrationForm input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.registrationForm button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(1, 81, 1);
    color: white;
    cursor: pointer;
}