.spendingDashboard {
    grid-area: spendingDashboard;
}

.spendedDashboard {
    grid-area: spendedDashboard;
}

.spendingGraph {
    grid-area: spendingGraph;
}

.spendingLineGraph {
    grid-area: spendingLineGraph;
}

.spendingInput {
    grid-area: spendingInput;
}

.spendingRecurringRecords {
    grid-area: spendingRecurringRecords;
}

.spendingRecords {
    grid-area: spendingRecords;
}

.spendingDashboardPage {
    background-color: transparent;
    min-height: calc(100vh - 70px);
    height: auto;
    width: 100vw;
    margin-left: 0px;
    margin-top: 70px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas: 
        'spendingDashboard'
        'spendedDashboard'
        'spendingGraph' 
        'spendingGraph'
        'spendingLineGraph'
        'spendingLineGraph'
        'spendingInput'
        'spendingRecurringRecords'
        'spendingRecurringRecords'
        'spendingRecords'
        'spendingRecords';
    overflow-y: auto; 
    overflow-x: hidden;

}

.mainDashboardBlocks {
    border-radius: 1rem;
    background-color: rgba(250, 254, 255, 0.2);
    padding: 10px;
}

/* Setting things for tablet screens */
@media screen and (min-width: 900px) {
    /* Setting the dashboard for tablet*/
    .spendingDashboardPage {
        background-color: transparent;
        height: 100vh;
        width: calc(100vw - 180px);
        margin-left: calc(180px + 1.5rem);
        margin-top: 0px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 1.5rem;
        padding-left: 0rem;
        display: grid;
        gap: 1.5rem;
        grid-auto-columns: 1fr;
        grid-auto-rows: minmax(120px, auto);
        grid-template-areas:
        'spendingDashboard spendingDashboard spendedDashboard spendedDashboard'
        'spendingDashboard spendingDashboard spendedDashboard spendedDashboard'
        'spendingGraph spendingGraph spendingLineGraph spendingLineGraph'
        'spendingGraph spendingGraph spendingLineGraph spendingLineGraph'
        'spendingInput spendingInput spendingInput spendingInput'
        'spendingRecurringRecords spendingRecurringRecords spendingRecords spendingRecords'
        'spendingRecurringRecords spendingRecurringRecords spendingRecords spendingRecords'
        'spendingRecurringRecords spendingRecurringRecords spendingRecords spendingRecords'
        'spendingRecurringRecords spendingRecurringRecords spendingRecords spendingRecords';
    }

    .mainDashboardBlocks {
        border-radius: 1rem;
        background-color: rgba(250, 254, 255, 0.2);
        box-sizing: border-box;
    }
}

/* Setting things for desktop and larger screens */
@media screen and (min-width: 1200px) {
    /* Setting the dashboard for desktop and larger screens */
    .spendingDashboardPage {
        background-color: transparent;
        height: 100vh;
        width: calc(100vw - 180px);
        margin-left: calc(180px + 1.5rem);
        margin-top: 0px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 1.5rem;
        padding-left: 0rem;
        display: grid;
        gap: 1.5rem;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-areas:
        'spendingDashboard spendingDashboard spendedDashboard spendedDashboard spendingInput spendingInput'
        'spendingGraph spendingGraph spendingRecurringRecords spendingRecurringRecords spendingRecords spendingRecords'
        'spendingGraph spendingGraph spendingRecurringRecords spendingRecurringRecords spendingRecords spendingRecords'
        'spendingLineGraph spendingLineGraph spendingRecurringRecords spendingRecurringRecords spendingRecords spendingRecords'
        'spendingLineGraph spendingLineGraph spendingRecurringRecords spendingRecurringRecords spendingRecords spendingRecords';
    }

    .mainDashboardBlocks {
        border-radius: 1rem;
        background-color: rgba(250, 254, 255, 0.2);
    }

    .input {
        overflow-y: auto;;
    }
}