#table {
    min-width: 360px;
    border-collapse: separate;
    border-spacing: 0 15px;
}

#table * {
    color: rgb(241, 240, 240);
    text-align: center;
}

#table th {
    white-space: nowrap;
    padding: 10px
}

#table td {
    padding: 10px;
} 

.records .chartContainer {
    align-items: first baseline;
    overflow-x: auto;
}

.records {
    max-width: 90vw;
}

@media screen and (min-width: 468px) {
    .records{
        max-width: 100vw;
    }
}

.tableButton {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 103, 0);
    color: white;
    cursor: pointer;
    transition: filter 500ms;
}

.tableButton:hover {
    filter: brightness(1.2);
}