#table {
    min-width: 360px;
}

#table * {
    color: rgb(241, 240, 240);
    text-align: center;
}

#table th {
    white-space: nowrap;
    padding: 10px
}

.records .chartContainer {
    align-items: first baseline;
}