/* Setting side bar menu*/
.menu {
    background: linear-gradient(to bottom right, rgb(0, 0, 12), rgb(0, 30, 0));
    height: 70px;
    width: 100vw;
    flex-grow: 0;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
}

/* Setting profile */
.profileContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.profileContainer > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;

}

.profileName {
    height: 50px;
}

.profileName * {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.name {
    font-size: 20px;
}

.tier {
    font-size: 10px;
}

/* Setting menu */
.menuContainer {
    height: 50vh;
    width: auto;
    display: none;
    align-items: start;
}

.menuContainer .list-group {
    display: flex;
    height: 30vh;
    flex-direction: column;
    justify-content: space-around
}

.menuContainer .list-group-item {
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 70px;
    width: 180px;
    border-radius: 0%;
    border: none;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

@media screen and (min-width: 900px) {
    /* Setting side bar for tablet*/
    .menu {
        background: linear-gradient(to bottom, rgb(0, 0, 12), rgb(0, 30, 0));
        height: 100vh;
        width: 180px;
        flex-grow: 0;
        flex-shrink: 0;
        position: fixed;
        top: 0;
        left: 0;
    }

    /* Setting profile */
    .profileContainer {
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .profileContainer > img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 0px;
    }

    .profileName {
        height: 50px;
    }

    .profileName * {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    .name {
        font-size: 20px;
    }

    .tier {
        font-size: 10px;
    }

    /* Setting menu */
    .menuContainer {
        height: 50vh;
        width: auto;
        display: flex;
        align-items: start;
    }

    .menuContainer .list-group {
        display: flex;
        height: 30vh;
        flex-direction: column;
        justify-content: flex-start
    }

    .menuContainer .list-group-item {
        background-color: transparent;
        display: flex;
        align-items: center;
        height: 70px;
        width: 180px;
        border-radius: 0%;
        border: none;
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .menuContainer .click {
        background-color: rgb(245, 243, 243, 0.2);

    }
}

/* Setting things for desktop and larger screens */
@media screen and (min-width: 1200px) {
    /* Setting side bar for desktop and larger screens*/
    .menu {
        background: linear-gradient(to bottom, rgb(0, 0, 12), rgb(0, 30, 0));
        height: 100vh;
        width: 180px;
        flex-grow: 0;
        flex-shrink: 0;
        position: fixed;
        top: 0;
        left: 0;
    }

    /* Setting profile */
    .profileContainer {
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .profileContainer > img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 0px;
    }

    .profileName {
        height: 50px;
    }

    .profileName * {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    .name {
        font-size: 20px;
    }

    .tier {
        font-size: 10px;
    }

    /* Setting menu */
    .menuContainer {
        height: 50vh;
        width: auto;
        display: flex;
        align-items: start;
    }

    .menuContainer .list-group {
        display: flex;
        height: 30vh;
        flex-direction: column;
        justify-content: space-around
    }

    .menuContainer .list-group-item {
        background-color: transparent;
        border: none;
    }

    .menuContainer .list-group-item {
        background-color: transparent;
        display: flex;
        align-items: center;
        height: 70px;
        width: 180px;
        border-radius: 0%;
        border: none;
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .menuContainer .click {
        background-color: rgb(245, 243, 243, 0.2);

    }
}