#inputPopUpBox {
    display: flex;
    flex-direction: column;
    align-items: center;;
    background-color: rgba(172, 172, 172, 0);
    padding: 20px;
    border-radius: 0.5rem;
    max-height: 90vh;
}

#inputPopUpBox h2 {
    font-weight: bold;
}

.inputPopUpMessage {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


#inputPopUpBox form{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: auto;
}

#inputPopUpBox input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#inputPopUpBox button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 103, 0);
    color: white;
    cursor: pointer;
    transition: filter 500ms;
}

#inputPopUpBox button:hover {
    filter: brightness(1.2);
}