/* Setting the home dashboard */
.overallDashboard {
    grid-area: overallDashboard;
}

.overallGraph {
    grid-area: overallGraph;
}

.spendingDashboard {
    grid-area: spendingDashboard;
}

.spendingGraph {
    grid-area: spendingGraph;
}

.transactionGraph {
    grid-area: transactionGraph;
}

.savingDashboard {
    grid-area: savingDashboard;
}

.savingGraph {
    grid-area: savingGraph;
}

.transactionRecords {
    grid-area: transactionRecords;
}

.dashboard {
    background-color: transparent;
    min-height: calc(100vh - 70px);
    height: auto;
    width: 100vw;
    margin-left: 0px;
    margin-top: 70px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas: 
        'overallDashboard'
        'overallGraph'
        'overallGraph'
        'spendingDashboard'
        'spendingGraph'
        'spendingGraph' 
        'transactionGraph'
        'transactionGraph'
        'transactionRecords'
        'transactionRecords'
        'savingDashboard'
        'savingGraph' 
        'savingGraph';
    overflow-y: auto; 

}

.mainDashboardBlocks {
    border-radius: 1rem;
    background-color: rgba(250, 254, 255, 0.2);
    padding: 10px;
}

/* Setting things for tablet screens */
@media screen and (min-width: 900px) {
    /* Setting the dashboard for tablet*/
    .dashboard {
        background-color: transparent;
        height: 100vh;
        width: calc(100vw - 180px);
        margin-left: calc(180px + 1.5rem);
        margin-top: 0px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 1.5rem;
        padding-left: 0rem;
        display: grid;
        gap: 1.5rem;
        grid-auto-columns: 1fr;
        grid-auto-rows: minmax(120px, auto);
        grid-template-areas:
        'spendingDashboard spendingDashboard transactionRecords transactionRecords'
        'spendingDashboard spendingDashboard transactionRecords transactionRecords'
        'spendingGraph spendingGraph transactionGraph transactionGraph'
        'spendingGraph spendingGraph transactionGraph transactionGraph'
        'savingDashboard savingDashboard savingGraph savingGraph'
        'savingDashboard savingDashboard savingGraph savingGraph'
        'overallDashboard overallDashboard overallGraph overallGraph' 
        'overallDashboard overallDashboard overallGraph overallGraph';
    }

    .mainDashboardBlocks {
        border-radius: 1rem;
        background-color: rgba(250, 254, 255, 0.2);
        box-sizing: border-box;
    }
}

/* Setting things for desktop and larger screens */
@media screen and (min-width: 1200px) {
    /* Setting the dashboard for desktop and larger screens */
    .dashboard {
        background-color: transparent;
        height: 100vh;
        width: calc(100vw - 180px);
        margin-left: calc(180px + 1.5rem);
        margin-top: 0px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 1.5rem;
        padding-left: 0rem;
        display: grid;
        gap: 1.5rem;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-areas:
        'spendingDashboard spendingDashboard savingDashboard savingDashboard overallDashboard overallDashboard'
        'transactionRecords transactionRecords savingGraph savingGraph overallGraph overallGraph'
        'transactionRecords transactionRecords savingGraph savingGraph overallGraph overallGraph'
        'transactionRecords transactionRecords spendingGraph spendingGraph transactionGraph transactionGraph'
        'transactionRecords transactionRecords spendingGraph spendingGraph transactionGraph transactionGraph';
    }

    .mainDashboardBlocks {
        border-radius: 1rem;
        background-color: rgba(250, 254, 255, 0.2);
    }
}