/*
This css file styles home page
*/


/* Setting main backrgound colour */
#homePage{
    background: linear-gradient(to bottom right, rgb(0, 0, 12), rgb(0, 52, 0));
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}





