/*
This css file styles the main page of the website.
*/


/* Setting main backrgound colour */
#root{
    background: linear-gradient(to bottom right, rgb(0, 0, 12), rgb(0, 52, 0));
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

/* Setting side bar */
.menu {
    background: linear-gradient(to bottom right, rgb(0, 0, 12), rgb(0, 30, 0));
    height: 70px;
    width: 100vw;
    flex-grow: 0;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
}

/* Setting profile */
.profileContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.profileContainer > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;

}

.profileName {
    height: 50px;
}

.profileName * {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.name {
    font-size: 20px;
}

.tier {
    font-size: 10px;
}

/* Setting menu */
.menuContainer {
    height: 50vh;
    width: auto;
    display: none;
    align-items: start;
}

.menuContainer .list-group {
    display: flex;
    height: 30vh;
    flex-direction: column;
    justify-content: space-around
}

.menuContainer .list-group-item {
    background-color: transparent;
    border: none;
}

.menuContainer a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Setting the dashboard */
.overallDashboard {
    grid-area: overallDashboard;
}

.overallGraph {
    grid-area: overallGraph;
}

.spendingDashboard {
    grid-area: spendingDashboard;
}

.spendingGraph {
    grid-area: spendingGraph;
}

.transactionGraph {
    grid-area: transactionGraph;
}

.savingDashboard {
    grid-area: savingDashboard;
}

.savingGraph {
    grid-area: savingGraph;
}

.transactionHistory {
    grid-area: transactionHistory;
    display: none;
}

.dashboard {
    background-color: transparent;
    min-height: calc(100vh - 70px);
    height: auto;
    width: 100vw;
    margin-left: 0px;
    margin-top: 70px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas: 
        'overallDashboard'
        'overallGraph'
        'overallGraph'
        'spendingDashboard'
        'spendingGraph' 
        'transactionGraph'
        'transactionGraph'
        'savingDashboard'
        'savingGraph' 
        'savingGraph';
    overflow-y: auto;  /* Enable vertical scrolling */
    -webkit-overflow-scrolling: touch;  /* Smooth scrolling on iOS */

}

.mainDashboardBlocks {
    border-radius: 1rem;
    background-color: rgba(250, 254, 255, 0.2);
}

/* Setting things for tablet screens */
@media screen and (min-width: 900px) {
    /* Setting side bar for tablet*/
    .menu {
        background: linear-gradient(to bottom, rgb(0, 0, 12), rgb(0, 30, 0));
        height: 100vh;
        width: 180px;
        flex-grow: 0;
        flex-shrink: 0;
        position: fixed;
        top: 0;
        left: 0;
    }

    /* Setting profile */
    .profileContainer {
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .profileContainer > img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 0px;
    }

    .profileName {
        height: 50px;
    }

    .profileName * {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    .name {
        font-size: 20px;
    }

    .tier {
        font-size: 10px;
    }

    /* Setting menu */
    .menuContainer {
        height: 50vh;
        width: auto;
        display: flex;
        align-items: start;
    }

    .menuContainer .list-group {
        display: flex;
        height: 30vh;
        flex-direction: column;
        justify-content: space-around
    }

    .menuContainer .list-group-item {
        background-color: transparent;
        border: none;
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .menuContainer .click {
        background-color: rgb(245, 243, 243, 0.2);

    }

    /* Setting the dashboard */
    .dashboard {
        background-color: transparent;
        height: 100vh;
        width: calc(100vw - 180px);
        margin-left: calc(180px + 1.5rem);
        margin-top: 0px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 1.5rem;
        padding-left: 0rem;
        display: grid;
        gap: 1.5rem;
        grid-auto-columns: 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
        'spendingDashboard spendingDashboard transactionHistory transactionHistory'
        'spendingDashboard spendingDashboard transactionHistory transactionHistory'
        'spendingGraph spendingGraph transactionGraph transactionGraph'
        'spendingGraph spendingGraph transactionGraph transactionGraph'
        'savingDashboard savingDashboard savingGraph savingGraph'
        'savingDashboard savingDashboard savingGraph savingGraph'
        'overallDashboard overallDashboard overallGraph overallGraph' 
        'overallDashboard overallDashboard overallGraph overallGraph';
    }

    .mainDashboardBlocks {
        border-radius: 1rem;
        background-color: rgba(250, 254, 255, 0.2);
    }

    .transactionHistory {
        display: block;
    }
}

/* Setting things for desktop and larger screens */
@media screen and (min-width: 1200px) {
    /* Setting side bar for tablet*/
    .menu {
        background: linear-gradient(to bottom, rgb(0, 0, 12), rgb(0, 30, 0));
        height: 100vh;
        width: 180px;
        flex-grow: 0;
        flex-shrink: 0;
        position: fixed;
        top: 0;
        left: 0;
    }

    /* Setting profile */
    .profileContainer {
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .profileContainer > img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 0px;
    }

    .profileName {
        height: 50px;
    }

    .profileName * {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    .name {
        font-size: 20px;
    }

    .tier {
        font-size: 10px;
    }

    /* Setting menu */
    .menuContainer {
        height: 50vh;
        width: auto;
        display: flex;
        align-items: start;
    }

    .menuContainer .list-group {
        display: flex;
        height: 30vh;
        flex-direction: column;
        justify-content: space-around
    }

    .menuContainer .list-group-item {
        background-color: transparent;
        border: none;
    }

    .menuContainer a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Setting the dashboard */
    .dashboard {
        background-color: transparent;
        height: 100vh;
        width: calc(100vw - 180px);
        margin-left: calc(180px + 1.5rem);
        margin-top: 0px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 1.5rem;
        padding-left: 0rem;
        display: grid;
        gap: 1.5rem;
        grid-auto-columns: 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
        'spendingDashboard spendingDashboard savingDashboard savingDashboard overallDashboard overallDashboard'
        'transactionHistory transactionHistory savingGraph savingGraph overallGraph overallGraph'
        'transactionHistory transactionHistory savingGraph savingGraph overallGraph overallGraph'
        'transactionHistory transactionHistory spendingGraph spendingGraph transactionGraph transactionGraph'
        'transactionHistory transactionHistory spendingGraph spendingGraph transactionGraph transactionGraph';
    }

    .mainDashboardBlocks {
        border-radius: 1rem;
        background-color: rgba(250, 254, 255, 0.2);
    }

    .transactionHistory {
        display: block;
    }
}


