.savingDashboard {
    grid-area: savingDashboard;
}

.savingTargetDashboard {
    grid-area: savingTargetDashboard;
}

.savingGraph {
    grid-area: savingGraph;
}

.savingLineGraph {
    grid-area: savingLineGraph;
}

.savingInput {
    grid-area: savingInput;
}

.savingRecurringRecords {
    grid-area: savingRecurringRecords;
}

.savingRecords {
    grid-area: savingRecords;
}

.savingDashboardPage {
    background-color: transparent;
    min-height: calc(100vh - 70px);
    height: auto;
    width: 100vw;
    margin-left: 0px;
    margin-top: 70px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas: 
        'savingDashboard'
        'savingTargetDashboard'
        'savingGraph' 
        'savingGraph'
        'savingLineGraph'
        'savingLineGraph'
        'savingInput'
        'savingRecurringRecords'
        'savingRecurringRecords'
        'savingRecords'
        'savingRecords';
    overflow-y: auto; 

}

.mainDashboardBlocks {
    border-radius: 1rem;
    background-color: rgba(250, 254, 255, 0.2);
    padding: 10px;
}

.input {
    overflow-y: auto;
}

.lineChart {
    overflow-y: auto;
}

/* Setting things for tablet screens */
@media screen and (min-width: 900px) {
    /* Setting the dashboard for tablet*/
    .savingDashboardPage {
        background-color: transparent;
        height: 100vh;
        width: calc(100vw - 180px);
        margin-left: calc(180px + 1.5rem);
        margin-top: 0px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 1.5rem;
        padding-left: 0rem;
        display: grid;
        gap: 1.5rem;
        grid-auto-columns: 1fr;
        grid-auto-rows: minmax(120px, auto);
        grid-template-areas:
        'savingDashboard savingDashboard savingTargetDashboard savingTargetDashboard'
        'savingDashboard savingDashboard savingTargetDashboard savingTargetDashboard'
        'savingGraph savingGraph savingLineGraph savingLineGraph'
        'savingGraph savingGraph savingLineGraph savingLineGraph'
        'savingInput savingInput savingInput savingInput'
        'savingInput savingInput savingInput savingInput'
        'savingRecurringRecords savingRecurringRecords savingRecords savingRecords'
        'savingRecurringRecords savingRecurringRecords savingRecords savingRecords'
        'savingRecurringRecords savingRecurringRecords savingRecords savingRecords'
        'savingRecurringRecords savingRecurringRecords savingRecords savingRecords';
    }

    .mainDashboardBlocks {
        border-radius: 1rem;
        background-color: rgba(250, 254, 255, 0.2);
        box-sizing: border-box;
    }
}

/* Setting things for desktop and larger screens */
@media screen and (min-width: 1200px) {
    /* Setting the dashboard for desktop and larger screens */
    .savingDashboardPage {
        background-color: transparent;
        height: 100vh;
        width: calc(100vw - 180px);
        margin-left: calc(180px + 1.5rem);
        margin-top: 0px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 1.5rem;
        padding-left: 0rem;
        display: grid;
        gap: 1.5rem;
        grid-auto-columns: 1fr;
        grid-auto-rows: minmax(170px, auto);
        grid-template-areas:
        'savingDashboard savingDashboard savingTargetDashboard savingTargetDashboard savingInput savingInput'
        'savingGraph savingGraph savingRecurringRecords savingRecurringRecords savingRecords savingRecords'
        'savingGraph savingGraph savingRecurringRecords savingRecurringRecords savingRecords savingRecords'
        'savingLineGraph savingLineGraph savingRecurringRecords savingRecurringRecords savingRecords savingRecords'
        'savingLineGraph savingLineGraph savingRecurringRecords savingRecurringRecords savingRecords savingRecords';
    }

    .mainDashboardBlocks {
        border-radius: 1rem;
        background-color: rgba(250, 254, 255, 0.2);
    }
}