.inputForm input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.inputForm button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 103, 0);
    color: white;
    cursor: pointer;
}

.input .chart {
    max-height: 70%; 
    overflow: hidden;
}

/* Remove increment and decrement arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
}

/* Remove increment and decrement arrows for firefox */
input[type=number] {
    appearance: textfield;
}

@media screen and (min-width: 1200px) {
    .input .chartContainer {
        height: 100%;
        overflow: hidden;
    }
}