.recurringTransactionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: inherit;
}

.recurringTransactionForm  input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    min-width: 300px;
    border: 1px solid #ccc;
}

.recurringTransactionForm button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 103, 0);
    color: white;
    cursor: pointer;
}

.input .chart {
    max-height: 70%;
    overflow: hidden;
}

@media screen and (min-width: 900px) {
    .input .chart {
        max-height: 70%;
        overflow: hidden;
    }
}

@media screen and (min-width: 1200px) {
    .input .chartContainer {
        height: 100%;
        overflow: hidden;
    }
}