.recurringTransactionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: inherit;
}

.recurringTransactionForm  input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    min-width: 300px;
    border: 1px solid #ccc;
}

.recurringTransactionForm button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 103, 0);
    color: white;
    cursor: pointer;
    transition: filter 500ms;
}

.recurringTransactionForm button:hover {
    filter: brightness(1.2);
}
